#wordPlaceholder { display: none; }
#drawingCanvas { pointer-events: none; }
.color-button { pointer-events: none; }
#submitCanvas { pointer-events: none; }

#drawingCanvas {
    background-color: white;
}

#submitCanvas { 
    display: block; 
}

.canvas-wrapper {
    position: relative;
    width: 100%;
    padding-top: 46.25%;
    background-color: #000;
    border: 2px solid black; /* Adds a black border around the canvas wrapper */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds subtle shadow for depth */
}

#drawingCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#beginButton {
    z-index: 10; /* Ensures the button is above the canvas */
    position: absolute; /* Position the button absolutely within the canvas wrapper */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the button by half its width and height to truly center it */
}

.color-button {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    margin: 2px;
    position: relative; /* Ensures absolute positioning is relative to the button */
    vertical-align: middle; /* Aligns buttons vertically */
    border: 3px solid black; /* Adds a black border around the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds subtle shadow for depth */
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.red { background-color: #FF0000; }
.orange { background-color: #FFA500; }
.yellow { background-color: #FFFF00; }
.green { background-color: #008000; }
.blue { background-color: #0000FF; }
.indigo { background-color: #4B0082; }
.violet { background-color: #EE82EE; }
.brown { background-color: #8B4513; }
.black { background-color: #000000; }

#timerPlaceholder {
    display: inline-block;
    width: 30px; 
    text-align: left;
}

.timer-icon {
    margin-right: 15px; /* Maintain a consistent spacing */
}

.eraser {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    margin: 2px;
    background-color: #FFFFFF; 
    position: relative;
}

.eraser i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; 
}

.eraser {
    background-color: #FFFFFF; 
}

.color-button:hover {
    transform: scale(1.1); /* Enlarges the button */
    filter: brightness(85%); /* Darkens the button */
}
