h1, h2 {
    text-align: center;
}

.canvas-wrapper {
    position: relative;
    margin: 10px auto;
    border: 2px solid black;
    background-color: white;
}

#drawnCanvas {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.start-guess-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

#stopwatchDisplay, #successMessage, #attemptsDisplay, #feedbackMessage {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#stopwatchDisplay {
    font-size: inherit;
    font-weight: inherit;
}

#successMessage {
    color: #28a745; /* Success message in a noticeable color */
}

#feedbackMessage {
    color: red; /* Make the feedback message red */
}

.form-inline .form-control, .form-inline .input-group-text, .form-inline .btn {
    margin-top: 10px;
}

.hidden {
    display: none;
}

#attemptsDisplay {
    color: inherit; /* Inherit color to match other elements */
    font-size: inherit; /* Inherit size to match other elements */
}

.input-group {
    display: flex;
    align-items: center;
}

.guess-heading {
    display: none; /* Hide on small screens */
}

@media (min-width: 768px) {
    .guess-heading {
        display: block; /* Show on medium and larger screens */
    }
}
