h1, h2 {
    text-align: center;
}

.canvas-wrapper {
    position: relative;
    width: 100%;
    padding-top: 46.25%;
    background-color: white;
    border: 2px solid black; /* Adds a black border around the canvas wrapper */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds subtle shadow for depth */
}

#drawnCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.start-guess-btn {
    z-index: 10; /* Ensures the button is above the canvas */
    position: absolute; /* Position the button absolutely within the canvas wrapper */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the button by half its width and height to truly center it */
}

#stopwatchDisplay, #successMessage, #attemptsDisplay, #feedbackMessage {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#stopwatchDisplay {
    font-size: inherit;
    font-weight: inherit;
}

#successMessage {
    color: #28a745; /* Success message in a noticeable color */
}

#feedbackMessage {
    color: red; /* Make the feedback message red */
}

.form-inline .form-control, .form-inline .input-group-text, .form-inline .btn {
    margin-top: 10px;
}

.hidden {
    display: none;
}

#attemptsDisplay {
    color: inherit; /* Inherit color to match other elements */
    font-size: inherit; /* Inherit size to match other elements */
}

.input-group {
    display: flex;
    align-items: center;
}

.guess-heading {
    display: none; /* Hide on small screens */
}

@media (min-width: 768px) {
    .guess-heading {
        display: block; /* Show on medium and larger screens */
    }
}
