#wordPlaceholder { display: none; }
#drawingCanvas { pointer-events: none; }
#colorPicker { pointer-events: none; }
#submitCanvas { pointer-events: none; }

#drawingCanvas {
    background-color: white;
}

#submitCanvas { 
    display: block; 
}

body {
    padding-top: 56px; //Space for the navbar
}

.canvas-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background-color: #000;
}

#drawingCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}