@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/** META **/
:root {
    --primary: #ffffff;
    --accent: #1E1E1E;
    --black: #171717;
    --border: rgba(221, 221, 221, 0.2);
    --transition-time: 150ms;
    --border-radius: 0.3em;
    font-family: 'Inter', sans-serif;;
}

body {
    margin: 0;
}

/** NAVBAR **/
.navbar {
    height: 6rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 2rem;
}

.navbar-brand > img {
    width: 2.5rem;
    height: 2.5rem;
}

/** AVATAR **/
div.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    background-color: var(--accent);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

div.avatar > span {
    color: var(--primary);
    font-weight: bold;
}