{% extends "layout.html" %}

{% block title %}Draw Sketch{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/draw-sketch.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
{% endblock %}

{% block content %}
    <div class="row my-4">
        <div class="col-sm-6 text-left">
            <h2><span style="font-weight: normal;">Draw </span><span id="wordPlaceholder" class="text-danger"></span></h2>
        </div>
        <div class="col-sm-6 text-right timer">
            <h2><i class="fas fa-hourglass-start timer-icon"></i><span id="timerPlaceholder">10</span></h2>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-sm-12">
            <div class="canvas-wrapper">
                <button id="beginButton" class="btn btn-dark">Begin</button>
                <canvas id="drawingCanvas" width="2048" height="1152">Your browser does not support the HTML canvas tag.</canvas>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-sm-6 text-left">
            <input type="color" id="colorPicker">
        </div>
        <div class="col-sm-6 text-right">
            <button id="submitCanvas" class="btn btn-success float-right">Submit Drawing</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/draw-sketch.js') }}"></script>
{% endblock %}




