<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="color-scheme" content="dark light">
        <title>Draw Sketch</title>
		<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body >
		<header>
            <nav class="container">
                <a href="/">
                    <h1>Draw Sketch</h1>
                </a>
                <div>
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('findSketch') }}">Find Sketch</a>
                    <a href="{{ url_for('guessSketch') }}">Guess Sketch</a>
                    <a href="{{ url_for('drawSketch') }}">Draw Sketch</a>
                    <div class="avatar">
                        <span>HI</span>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <h1>Main body content here</h1>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</body>
</html>
