{% extends "layout.html" %}
{% block title %}Guess{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guess.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Time to guess!</h1>
    <div class="canvas-container">
        <canvas id="drawnCanvas"></canvas>
    </div> 
    <div class="input">
        <input type="text" id="userguess" class="form-control" placeholder="Guess the sketch">
        <div class="input-group-append">
            <button class="btn-primary" id="submitguessBtn" type="submit" onclick="checkGuess()">Submit</button>
        </div>
    </div>

    <p> Time remaining: <span id="countdowntimer">10</span> Seconds</p>
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/guess.js') }}"></script>
{% endblock %}
