<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="dark light">
	</head>
	<body >
		<header>
            <nav class="container">
                <a href="/">
                    <h1>Sketch Blitz</h1>
                </a>
                <div>
                    <a href="/123">Page 1</a>
                    <a href="/456">Page 2</a>
                    <a href="/789">Page 3</a>
                    <div class="avatar">
                        <span>HI</span>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <h1>Main body content here</h1>
        </div>
	</body>
</html>
