{% extends "layout.html" %}
{% block title %}Guess{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guess.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
{% endblock %}
{% block content %}
    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
    <div class="row my-4">
        <div class="col-sm-4 text-left">
            <h2>Guess Attempts: <span id="attemptsDisplay">0</span></h2>
        </div>
        <div class="col-sm-4 text-center d-none d-md-block">
            <h1>Guess the Sketch!</h1>
        </div>
        <div class="col-sm-4 text-right timer">
            <h2><i class="fas fa-hourglass-start timer-icon"></i><span id="stopwatchDisplay">00:00:30</span></h2>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-sm-12 text-center">
            <div class="canvas-wrapper">
                <canvas id="drawnCanvas"></canvas>
                <button id="startGuessBtn" class="start-guess-btn">Start Guessing</button>
            </div>
            <div id="feedbackMessage" class="hidden mt-3"></div> <!-- Feedback message for incorrect guesses -->
            <div id="successMessage" class="hidden mt-3">You Got It!</div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-sm-12">
            <form action="/guess" method="POST">
                <div class="input-group">
                    <input type="text" id="userguess" name="userguess" class="form-control" placeholder="Guess The Sketch" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="submitguessBtn" type="submit" disabled>Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/guess.js') }}"></script>
{% endblock %}
