{% extends "layout.html" %}
{% block title %}Guess{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guess.css') }}">
{% endblock %}
{% block content %}
    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
    <h1>Guess the Sketch!</h1>
    <div class="canvas-wrapper">
        <canvas id="drawnCanvas" width="2048" height="1152" ></canvas>
        <button id="startGuessBtn" class="start-guess-btn">Start Guessing</button>
    </div>
    <div id="stopwatchDisplay" class="mt-3">Are You Ready? 00:00:00</div>
    <div id="attemptsDisplay" class="mt-3">Guess Attempts: 0</div>
    <div id="feedbackMessage" class="hidden mt-3"></div> <!-- Feedback message for incorrect guesses -->
    <div id="successMessage" class="hidden mt-3">You Got It!</div>
    <div class="input mt-3">
        <form action="/guess" method="POST">
            <input type="text" id="userguess" name="userguess" class="form-control" placeholder="Guess The Sketch" disabled>
            <div class="input-group-append mt-2">
                <button class="btn-primary" id="submitguessBtn" type="submit" disabled>Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/guess.js') }}"></script>
{% endblock %}
