{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Welcome back {{ current_user.first_name }} {{ current_user.last_name }}</h1>
    {% endif %}
    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
    <div class="card-grid">
        {% for sketch in sketches %}
            <div class="card">
                <img src="{{ url_for('static', filename=sketch.sketch_path ) }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@{{ sketch.username }}</h5>
                    {% if sketch.cannot_guess %}
                        {% if sketch.guessed_correctly %}
                            <p class="card-text">You guessed correctly at {{ sketch.guessed_at }}!</p>
                        {% elif not sketch.guessed_correctly and sketch.guessed_at %}
                            <p class="card-text">You guessed this sketch incorrectly!</p>
                        {% else %}
                            <p class="card-text">You have drawn this sketch.</p>
                        {% endif %}
                    {% else %}
                        <a href="{{ url_for('set_sketch_id', sketch_id=sketch.id) }}" class="btn btn-primary" role="button">Guess</a>
                    {% endif %}
                    <p class="card-text"><small class="text-muted">{{ sketch.date }}</small></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}