{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Welcome back {{ current_user.first_name }} {{ current_user.last_name }}</h1>
    {% endif %}
    <div class="card-grid">
        {% for sketch in sketches %}
            <div class="card">
                <img src="https://picsum.photos/seed/{{ sketch.id }}/300/300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@{{ sketch.username }}</h5>
                    {% if sketch.has_guessed %}
                        <p class="card-text">You guessed in 25s</p>
                    {% else %}
                        <a href="/guess/{{ sketch.id }}" class="btn btn-primary" role="button">Guess</a>
                    {% endif %}
                    <p class="card-text"><small class="text-muted">{{ sketch.date }}</small></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}