{% extends "layout.html" %}
{% block title %}Leaderboard{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">
{% endblock %}
{% block content %}
    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
    <h1>Stats for @{{ current_user.username }}</h1>
    <div class="stats-grid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Place</h5>
                <p class="card-text">#{{current_user_rank}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Guessed</h5>
                <p class="card-text">{{current_user.guessed}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Points</h5>
                <p class="card-text">{{current_user.points}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">PPG (?)</h5>
                <p class="card-text">{{current_user.points / current_user.guessed if current_user.guessed else 0}}</p>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Username</th>
                <th scope="col">Guessed</th>
                <th scope="col">Points</th>
                <th scope="col">PPG (?)</th>
            </tr>
        </thead>
        <tbody>
            {% for user in leaderboard %}
            <tr>
                <th scope="row centered">
                    {% if loop.index == 1 %}
                        🥇
                    {% elif loop.index == 2 %}
                        🥈
                    {% elif loop.index == 3 %}
                        🥉
                    {% else %}
                        {{loop.index}}
                    {% endif %}
                </th>
                <td>{{user.username}}</td>
                <td>{{user.guessed}}</td>
                <td>{{user.points}}</td>
                <td>{{user.points / user.guessed if user.guessed else 0}}</td>
            </tr>
            <tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}